@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* -------------- Generate Styles --------------- */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --main-color: #784cfb;
    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
    --text-color: hsl(var(--hue-1), 17%, 80%);
    --text-color-2: hsl(var(--hue-3), 30%, 20%);
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif !important;
}

body.stopScrolling {
    height: 100%;
    overflow: hidden;
}

::selection {
    background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
    color: #fff;
}

.container {
    width: 85%;
}

a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #fff !important;
}

ul {
    list-style: none;
}

button {
    color: #fff !important;
}

input {
    color: #fff !important;
}


/* ------------- Start Reusable CSS Code --------------- */

.sub-heading {
    color: var(--bg-color);
    /*text-transform: uppercase;*/
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    border-left: 3px solid #c9a42e;
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.heading {
    color: var(--heading-color);
    font-size: 3.5rem;
    /*font-family: "Abril Fatface", cursive;*/
    font-weight: 500;
    line-height: 1.3;
}

.text {
    color: var(--text-color-2);
    font-size: 1.1rem;
    margin: 2rem 0;
    line-height: 2.3;
}

.cec-card .btn {
    font-size: 0.7rem;
}

.btn {
    display: inline-block;
    padding: .3rem 1.5rem;
    border-radius: 17px;
    background-color: var(--heading-color);
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: 0.3s;
    min-width: 125px;
    text-align: center;
}

.btn:hover,
.btn-custom:hover {
    background: linear-gradient(to right, #2d0b00, #c9a42e);
}

.section {
    position: relative;
    padding: 32px auto !important;
    margin: 120px auto !important;
}

@media (max-width:850px) {
    .btn {
        padding: .3rem 1rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 420px) {
    .sub-heading {
        font-size: 1.1rem;
    }
    .heading {
        font-size: 1.5rem !important;
    }
}


/* ------------- End Reusable CSS Code --------------- */


/* ------------- Start Navigation Section ----------- */

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s;
}

header .container-fluid {
    padding: 0 15%;
}

@media (max-width:1500px) {
    header .container-fluid {
        padding: 0 3%;
    }
}

.navbar {
    background-image: linear-gradient(to right, #0193c9, #196288, #0193c9);
}

header.scrolled .navbar {
    background: linear-gradient(to right, #2d0b00, #c9a42e);
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    transition: all 0.5s;
}

header.scrolled .logo {
    height: 100%;
    line-height: 100%;
}

header.scrolled .nav-link {
    color: #fff;
}

header.scrolled .nav-link:hover>a {
    color: #0193c9;
}

header.scrolled .dropdown-link>a {
    background-image: linear-gradient(to right, #2d0b00, #c9a42e);
}

header.scrolled .dropdown-link:hover>a {
    color: #0193c9;
}

header.scrolled .nav-link:hover {
    color: #c9a42e;
}

header.scrolled .nav-link:hover::after {
    background-color: #c9a42e;
}

header.scrolled .search {
    background-color: #c9a42e;
}

header.scrolled .btn.solid,
header.scrolled .btn.transparent:hover {
    background: linear-gradient(to right, #0193c9, #196288, #0193c9);
}

header.scrolled .btn:hover {
    background-image: linear-gradient(to right, #0193c9, #196288, #0193c9);
}

.navbar-brand img {
    width: 40px;
    cursor: pointer;
    margin-right: 2rem;
}

.nav-item {
    margin-right: 1rem;
}

.dropdown-menu {
    background-image: linear-gradient(to right, #0193c9, #196288, #0193c9);
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1rem;
    margin-top: -5px !important;
    transition: .5s;
}

.nav-link {
    cursor: pointer;
    font-size: 14px;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #c9a42e !important;
    font-weight: 600;
    transition: all 0.5s;
}

header.scrolled .nav-link:hover {
    color: #0193c9 !important;
}

header.scrolled .dropdown-menu {
    background-image: linear-gradient(to right, #2d0b00, #c9a42e);
}

.nav-link .fa {
    margin-right: 0.3rem;
}

.dropdown-menu h6 {
    font-size: 14px;
}

.dropdown-item {
    font-size: 14px;
}

.dropdown-item:hover {
    background: transparent;
    color: #c9a42e !important;
    transform: scale(1.1);
    font-weight: 600;
    transition: all 0.5s;
}

header.scrolled .dropdown-item:hover {
    color: #0193c9 !important;
}

.dropdown-item a {
    flex-basis: auto;
    border-right: 1px solid #fff;
}

.search {
    min-height: 2.2rem;
    background-color: #0193c9;
    display: grid;
    grid-template-columns: 2.7rem 1fr;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 1rem;
}

.search input {
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    caret-color: #fff;
    font-family: inherit;
}

.search input::placeholder {
    color: var(--text-color);
    font-size: 0.8rem;
}

.search i {
    color: #fff;
    margin: 0 20px !important;
    font-size: 1rem !important;
}

.navbar .megamenu {
    padding: 1rem;
}


/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .navbar .has-megamenu {
        position: static!important;
    }
    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }
}


/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */

@media(max-width: 991px) {
    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}


/* ============ mobile view .end// ============ */


/* ------------- End Navigation Section ----------- */


/* ------------- Start Header Section ----------- */

.carousel {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.d-block {
    width: 100%;
    height: 100%;
    animation: zoom 6s linear infinite;
}


/* ------------- End Header Section ----------- */


/*--------------------------------------------------------------
# Category Section
--------------------------------------------------------------*/

.category-section {
    margin-top: 20px;
}

.post-entry-1 {
    margin-bottom: 30px;
}

.post-entry-1 img {
    margin-bottom: 30px;
}

.post-entry-1 h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-weight: 500;
}

.post-entry-1 h2 a {
    color: #000 !important;
}

.post-entry-1.lg h2 {
    font-size: 40px;
    line-height: 1;
}

.post-entry-main-title {
    background: linear-gradient(to right, #c9a42e, #96711b, #c9a42e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px !important;
    font-weight: bold !important;
}

.post-meta {
    font-size: 11px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(var(--color-black-rgb), 0.4);
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .custom-border {
        border: none !important;
    }
}

.author .photo {
    margin-right: 10px;
}

.author .photo img {
    width: 40px;
    border-radius: 50%;
    margin-bottom: 0;
}

.author .name h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.trending {
    border: 1px solid rgba(var(--color-black-rgb), 0.1);
}

.trending>h3 {
    color: var(--color-black);
    padding: 20px;
    border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
}

.trending .trending-post {
    padding: 0;
    margin: 0;
}

.trending .trending-post li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}

.trending .trending-post li a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
    position: relative;
    overflow: hidden;
}

.trending .trending-post li a .number {
    position: absolute;
    z-index: -1;
    font-size: 5rem;
    left: -10px;
    top: -20px;
    font-weight: 700;
    color: rgba(var(--color-black-rgb), 0.05);
}

.trending .trending-post li a h3 {
    font-size: 18px;
    color: rgba(var(--color-black-rgb), 0.9);
}

.trending .trending-post li a .author {
    color: rgba(var(--color-black-rgb), 0.7);
    font-weight: 500;
}

.trending .trending-post li a:hover h3 {
    color: rgba(var(--color-black-rgb), 1);
}

.trending .trending-post li:last-child a {
    border-bottom: none;
}

.post-entry-2 {
    margin-bottom: 30px;
}

.post-entry-2 .post-meta {
    font-size: 11px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(var(--color-black-rgb), 0.4);
    margin-bottom: 10px;
}

.post-entry-2 .author {
    color: rgba(var(--color-black-rgb), 0.7);
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
}

.post-entry-2 .thumbnail {
    flex: 0 0 65%;
}

@media (max-width: 960px) {
    .post-entry-2 .thumbnail {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}

.post-entry-2.half .thumbnail {
    flex: 0 0 50%;
}

@media (max-width: 768px) {
    .post-entry-2.half .thumbnail {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}

.post-entry-2.small-img .thumbnail {
    flex: 0 0 30%;
}

@media (max-width: 768px) {
    .post-entry-2.small-img .thumbnail {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}

.img-bg {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
}

@media (max-width: 768px) {
    .img-bg {
        height: 400px;
    }
}

.img-bg:before {
    position: absolute;
    content: "";
    /*background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);*/
    opacity: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0;
}

.img-bg .img-bg-inner {
    position: relative;
    z-index: 2;
    max-width: 700px;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .img-bg .img-bg-inner {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 50px;
    }
}

.img-bg .img-bg-inner h2,
.img-bg .img-bg-inner p {
    color: var(--color-white);
}

@media (max-width: 500px) {
    .img-bg .img-bg-inner p {
        display: none;
    }
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

@media (max-width: 768px) {
    .custom-swiper-button-next,
    .custom-swiper-button-prev {
        display: none;
    }
}

.custom-swiper-button-next span,
.custom-swiper-button-prev span {
    font-size: 20px;
    color: rgba(var(--color-white-rgb), 0.7);
    transition: 0.3s all ease;
}

.custom-swiper-button-next:hover span,
.custom-swiper-button-next:focus span,
.custom-swiper-button-prev:hover span,
.custom-swiper-button-prev:focus span {
    color: rgba(var(--color-white-rgb), 1);
}

.custom-swiper-button-next {
    right: 40px;
}

.custom-swiper-button-prev {
    left: 40px;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: rgba(var(--color-white-rgb), 0.8);
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgba(var(--color-white-rgb), 1);
}

.more {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.more:before {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-black);
}

.post-content {
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 768px) {
    .post-content {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.post-content .firstcharacter {
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.post-content figure {
    position: relative;
    left: 52%;
    min-width: 990px;
    transform: translateX(-50%);
}

@media (max-width: 1255px) {
    .post-content figure {
        min-width: auto;
        left: auto !important;
        transform: none;
    }
}

.post-content figure figcaption {
    font-family: var(--font-secondary);
    font-size: 14px;
    padding: 10px 0 0 0;
}

.aside-title,
.category-title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--color-black);
}

.category-title {
    border-bottom: none;
}

.custom-pagination a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-family: var(--font-secondary);
    margin: 5px;
    transition: 0.3s all ease;
}

.custom-pagination a.active {
    background: var(--color-black);
    color: var(--color-white);
}

.custom-pagination a.active:hover {
    background: rgba(var(--color-black-rgb), 0.9);
}

.custom-pagination a:hover {
    background: rgba(var(--color-black-rgb), 0.1);
}

.custom-pagination a.prev,
.custom-pagination a.next {
    width: auto !important;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.custom-pagination a.prev:hover,
.custom-pagination a.next:hover {
    background: rgba(var(--color-black-rgb), 0.1);
}


/* custom tab nav on sidebar */

.aside-block {
    margin-bottom: 30px;
}

.aside-block .custom-tab-nav .nav-item {
    display: inline-block;
}

.aside-block .custom-tab-nav .nav-item button {
    color: var(--color-black);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
}

.aside-block .custom-tab-nav .nav-item button.active {
    background-color: var(--color-black) !important;
    background-color: transparent !important;
    color: var(--color-black);
    border-bottom: 2px solid var(--color-black);
}

.link-video {
    position: relative;
}

.link-video span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background-color: rgba(var(--color-black-rgb), 0.2);
    color: var(--color-white);
}

.aside-links li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
}

.aside-links li a {
    display: block;
    color: rgba(var(--color-black-rgb), 0.7);
}

.aside-links li a:hover,
.aside-links li a:focus {
    color: rgba(var(--color-black-rgb), 1);
}

.aside-tags li {
    display: inline-block;
}

.aside-tags li a {
    display: inline-block;
    color: rgba(var(--color-black-rgb), 0.7);
    padding: 7px 10px;
    border: 1px solid rgba(var(--color-black-rgb), 0.1);
    margin-bottom: 3px;
    transition: 0.3s all ease;
}

.aside-tags li a:hover,
.aside-tags li a:focus {
    color: rgba(var(--color-black-rgb), 1);
    border: 1px solid rgba(var(--color-black-rgb), 0.5);
}

@media (max-width: 420px) {
    .post-entry-main-title {
        font-size: 20px !important;
    }
    .category-section p {
        font-size: 13px;
    }
    .post-entry-1 h2 {
        font-size: 16px;
    }
    .category-section span {
        font-size: 14px;
    }
}


/* ------------- Start Information Section ----------- */

.info-section {
    padding: 1rem 0;
    overflow: hidden;
    /*background-image: linear-gradient(to right, #0193c9, #196288, #0193c9);*/
    margin-bottom: 5rem;
}

.info-container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card-wrap {
    position: relative;
    margin: 1rem 0.8rem;
}

.info-card {
    position: relative;
    width: 100%;
    min-width: 280px;
    /*background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));*/
    background-image: linear-gradient(to right, #0193c9, #196288, #0193c9);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 1rem;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 30px;
}

.info-card:before {
    content: attr(data-card);
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 6rem;
    font-weight: 800;
    line-height: 1;
    color: var(--main-color);
    opacity: 0.025;
}

.info-card:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    left: 0;
    /*background-color: var(--main-color);*/
    background: linear-gradient(to right, #2d0b00, #c9a42e);
    transition: 0.3s;
}

.card-wrap:hover .info-card {
    transform: translateY(-15px);
}

.card-wrap:hover .info-card:after {
    height: 8px;
}

.info-icon {
    font-size: 3rem;
    color: #c9a42e;
    align-items: center;
    margin-right: 1rem;
    text-align: center;
}

.info-card .title-sm {
    font-size: 20px;
    font-weight: bold;
    line-height: 0.8;
    color: #fff;
    margin: 1rem auto;
}


/* ------------- End Information Section ----------- */


/* ------------- Start About Section ------------------ */

.about {
    margin: 7rem auto;
}

.about .text {
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 600;
    line-height: 0.2;
}

.about-grid {
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 190px 190px;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 100px;
    position: relative;
}

.about-card {
    background: linear-gradient(to right, #0162a0, #0193c9);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s transform;
}

.about-card:nth-child(1) {
    border-radius: 40px 40px 5px 40px;
}

.about-card:nth-child(2) {
    margin-top: 50px;
    border-radius: 40px 40px 40px 5px;
}

.about-card:nth-child(3) {
    margin-top: -50px;
    border-radius: 40px 5px 40px 40px;
}

.about-card:nth-child(4) {
    border-radius: 5px 40px 40px 40px;
}

.about-card .uil {
    width: 60px;
    font-size: 4rem;
    color: #c9a42e;
    transition: 0.5s;
}

.about-card h3 {
    color: #c9a42e;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: 0.3px;
}

.about-card:hover {
    transform: scale(1.1);
}

.about-card a {
    color: #c9a42e !important;
    font-family: Abril Fatface;
}

.about-grid::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid #c9a42e;
    z-index: -1;
    opacity: 0.3;
}

.about-info .heading {
    font-family: Abril Fatface;
    font-size: 2.5rem;
    margin: 1rem 0 2rem;
    background: linear-gradient(to right, #c9a42e, #96711b, #c9a42e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-info .sub-heading {
    color: #0193c9;
}

@media (max-width: 420px) {
    .about-grid {
        grid-template-columns: 160px 160px;
        grid-template-rows: 160px 160px;
        column-gap: 1.6rem;
        row-gap: 70px;
        margin-bottom: 32px;
    }
    .about-grid::before {
        width: 170px;
        height: 170px;
    }
    .about-card .uil {
        font-size: 3rem;
    }
    .about-card h3 {
        font-size: 0.9rem;
    }
    .about .text {
        font-size: 12px;
        font-weight: 400;
    }
}


/* ------------- End About Section ------------------ */


/*--------------------------------------------------------------
# Mission and Vision Section
--------------------------------------------------------------*/

.why-us {
    padding-bottom: 0;
}

.why-us .img-bg {
    min-height: 500px;
    background-size: cover;
    border-radius: 40px 0 0 40px;
}

.why-us .slides {
    background: linear-gradient(to right, #2d0b00, #c9a42e);
    border-radius: 0 40px 40px 0;
}

.why-us h3 {
    font-size: 32px;
    font-weight: 700;
    color: #ddd;
}

.why-us h4 {
    font-size: 24px;
    font-weight: 400;
    color: #29486a;
    font-family: #0193c9;
}

.why-us .swiper {
    margin: 140px 50px 120px 50px;
    overflow: hidden;
}

.why-us .swiper-button-prev:after,
.why-us .swiper-button-next:after {
    display: none;
    font-size: 24px;
    color: #0193c9 !important;
}

.why-us .swiper-button-prev {
    left: 80px;
}

.why-us .swiper-button-next {
    right: 80px;
}

.why-us .swiper-pagination {
    margin-top: 10px;
    position: relative;
}

.why-us .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #0193c9 !important;
    opacity: 0.8;
    border: 1px solid #1977cc;
}

.why-us .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #0193c9 !important;
    opacity: 1;
    transform: scale(1.2);
}

.item p {
    color: #fff;
    font-size: 22px;
    justify-content: center;
    text-align: left;
}

@media (max-width: 1200px) {
    .why-us .swiper {
        margin: 60px 60px 40px 60px;
    }
    .why-us .swiper-button-prev,
    .why-us .swiper-button-next {
        display: none;
    }
}

@media (max-width: 575px) {
    .why-us .swiper {
        margin: 40px 40px 20px 40px;
    }
}

.page-about .why-us {
    padding: 0 0 80px 0;
}

@media (max-width: 830px) {
    .why-us .img-bg {
        margin-bottom: 12px;
    }
    .why-us h3 {
        font-size: 24px;
    }
    .item p {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .why-us h3 {
        font-size: 21px;
    }
    .item p {
        font-size: 15px;
    }
}


/**
* --- Latest News and Activities ---
**/

.lna-section {
    padding: 5rem 0;
    position: relative;
    color: #ddd;
}

.lna-col {
    padding: 24px;
}

.lna-justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.lna-heading-section h2 {
    font-size: 40px;
    font-weight: 600 important;
    font-family: Abril Fatface;
    background: linear-gradient(to right, #c9a42e, #96711b, #c9a42e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lna-block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 275px;
    position: relative;
    display: block;
}

.lna-d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.lna-align-items-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

.lna-text-center {
    text-align: center !important;
}

.lna-blog-entry .lna-text {
    position: relative;
    border-top: 0;
    border-radius: 2px;
}

.lna-blog-entry .lna-text .lna-heading {
    font-size: 20px;
    margin-bottom: 16px;
}

.lna-blog-entry .lna-text .lna-heading a {
    color: #fff;
}

.lna-blog-entry .lna-text .lna-heading a:hover,
.lna-blog-entry .lna-text .lna-heading a:focus,
.lna-blog-entry .lna-text .lna-heading a:active {
    color: #ddd;
}

.lna-blog-entry .lna-text .lna-meta-chat {
    color: #b3b3b3;
}

.lna-blog-entry .lna-text .lna-read {
    color: #000000;
    font-size: 14px;
}

.lna-blog-entry .lna-meta-date {
    display: inline-block;
    background: linear-gradient(to right, #2d0b00, #0193c9);
}

.lna-blog-entry .lna-meta-date span {
    display: block;
    color: #fff;
}

.lna-blog-entry .lna-meta-date .lna-day {
    font-weight: 700;
    font-size: 20px;
}

.lna-blog-entry .lna-meta-date .lna-mos,
.lna-blog-entry .lna-meta-date .lna-yr {
    font-size: 13px;
}

.lna-blog-entry .lna-meta>div {
    display: block;
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: 15px;
}

.lna-blog-entry .lna-meta>div a {
    color: #b3b3b3;
    font-size: 13px;
}

.lna-blog-entry .lna-meta>div a:hover {
    color: #cccccc;
}

.lna-p-2 {
    padding: 0.5rem !important;
}

.lna-p-4 {
    padding: 1.5rem !important;
}

.lna-bg-white {
    background: linear-gradient(to right, #0162a0 40%, #0193c9 100%);
    opacity: 0.9
}

.lna-mb-4 {
    margin-bottom: 1rem !important;
    background: linear-gradient(to right, #c9a42e, #96711b, #c9a42e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lna-mb-0 {
    margin-bottom: 0 !important;
}

.lna-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.lna-btn {
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.lna-btn:hover,
.lna-btn:active,
.lna-btn:focus {
    outline: none;
}

.lna-btn.lna-btn-primary {
    /*background: linear-gradient(rgba(0,0,0,0.5),rgba(10,0,0,0.5));*/
    background: linear-gradient(to right, #2d0b00, #0193c9);
    border: 2px solid #93dbee;
    color: #fff;
}

.lna-btn.lna-btn-primary:hover {
    border: 2px solid #fff;
    /*background: transparent;
  color: #fff;*/
    background: linear-gradient(to right, #4d2b00, #c9a42e);
}

.lna-btn.lna-btn-primary.lna-btn-outline-primary {
    border: 1px solid #fd5f00;
    background: transparent;
    color: #fd5f00;
}

.lna-btn.btn-primary.lna-btn-outline-primary:hover {
    border: 1px solid transparent;
    background: #fd5f00;
    color: #fff;
}

.lna-btn.lna-btn-white {
    background: #fff;
    border: 1px solid #fff;
    color: #fd5f00;
}

.lna-btn.lna-btn-white:hover,
.lna-btn.lna-btn-white:focus,
.lna-btn.lna-btn-white:active {
    border: 1px solid #fff;
    color: #fd5f00;
}

.lna-btn.lna-btn-white.lna-btn-outline-white {
    border-color: rgba(255, 255, 255, 0.8);
    background: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    border-width: 1px;
    color: #fff;
}

.lna-btn.lna-btn-white.lna-btn-outline-white:hover,
.lna-btn.lna-btn-white.lna-btn-outline-white:focus,
.lna-btn.lna-btn-white.lna-btn-outline-white:active {
    background: #fff;
    border-color: #fff;
    color: #fd5f00;
}

.lna-btn.lna-btn-secondary {
    background: #fda638;
    border: 1px solid #fda638;
    color: #fff;
}

.lna-btn.lna-btn-secondary:hover,
.lna-btn.lna-btn-secondary:focus,
.lna-btn.lna-btn-secondary:active {
    border: 1px solid #fda638;
    color: #fff;
}

.lna-btn.lna-btn-tertiary {
    background: #8cc152;
    border: 1px solid #8cc152;
    color: #fff;
}

.lna-btn.lna-btn-tertiary:hover,
.lna-btn.lna-btn-tertiary:focus,
.lna-btn.lna-btn-tertiary:active {
    border: 1px solid #8cc152;
    color: #fff;
}

.lna-btn.lna-btn-quarternary {
    background: #f1453d;
    border: 1px solid #f1453d;
    color: #fff;
}

.lna-btn.lna-btn-quarternary:hover,
.lna-btn.lna-btn-quarternary:focus,
.lna-btn.lna-btn-quarternary:active {
    border: 1px solid #f1453d;
    color: #fff;
}

.lna-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.lna-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.lna-btn-primary:focus,
.lna-btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.lna-btn-primary.disabled,
.lna-btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.lna-btn-primary:not(:disabled):not(.disabled):active,
.lna-btn-primary:not(:disabled):not(.disabled).active,
.show>.lna-btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.lna-btn-primary:not(:disabled):not(.disabled):active:focus,
.lna-btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.lna-btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

@media (max-width: 420px) {
    .lna-heading-section h2 {
        font-size: 1.6rem;
    }
}


/* ---------------- End Latest News & Activities Style -------------------- */


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials .testimonial-wrap {
    padding-left: 50px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    box-shadow: 0px 2px 12px rgba(44, 73, 100, 0.08);
    position: relative;
    background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
    width: 100px;
    border-radius: 10px;
    border: 6px solid #fff;
    position: absolute;
    left: -45px;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #badaf7;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 15px auto 15px auto;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #1977cc;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
    background: linear-gradient(to right, #2d0b00, #0193c9);
}

@media (max-width: 767px) {
    .testimonials .testimonial-wrap {
        padding-left: 0;
    }
    .testimonials .testimonials-carousel,
    .testimonials .testimonials-slider {
        overflow: hidden;
    }
    .testimonials .testimonial-item {
        padding: 30px;
        margin: 15px;
    }
    .testimonials .testimonial-item .testimonial-img {
        position: static;
        left: auto;
    }
}

@media (max-width: 420px) {
    .testimonials .testimonial-item p {
        font-size: 14px;
    }
}


/**
* Latest News and Activities Section
**/

.ads-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.la-act {
    width: 100%;
    margin: 5rem auto 8rem;
    text-align: center;
    padding-top: 3rem;
    background-image: linear-gradient(to right, #0193c9, #196288, #0193c9);
}

.la-act h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.la-act span {
    background: linear-gradient(to right, #ddd, #fff, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.la-act p {
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: #dfdfdf;
}

.la-act-col {
    border-radius: 10px;
    margin-bottom: 2%;
    text-align: left;
}

.la-act-col img {
    width: 100%;
}

.lna-col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
}

.la-act-col img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: all 1.1s;
}

.la-act-col p {
    padding: 0;
    font-size: 18px;
}

.la-act-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    font-size: 25px;
    color: #fff;
}

.la-act-col:hover img {
    transform: scale(1.08);
}

.la-act-col:hover h3 {
    font-size: 27px;
    color: #c9a42e;
}

@media (max-width: 420px) {
    .la-act h1 {
        font-size: 1.7rem;
    }
    .la-act p {
        font-size: 1rem;
        text-align: left;
        line-height: 1.5;
    }
}


/* ------------------------------------------------------------
* Footer Section                                              |
--------------------------------------------------------------- */

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 5rem;
    background: linear-gradient(to right, #2d0b00, #0193c9);
    /*#00093c, #2d0b00*/
    color: #fff;
    padding: 30px 0 20px;
    border-top-left-radius: 140px;
    font-size: 13px;
    line-height: 20px;
}

.footer-logo {
    width: 80px;
    margin-bottom: 30px;
}

.footer-col h3 {
    font-size: 18px;
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: #c9a42e;
}

.footer-col h4 {
    font-size: 13px !important;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-col form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .bx,
form .fa {
    font-size: 1.6rem;
    margin-right: 10px;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .bx {
    font-size: 2rem;
    color: #ccc;
}

.social-icons .bx {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    color: #c9a42e;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.copyright {
    text-align: center;
}

.footer-underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.footer-underline span {
    width: 15px;
    height: 100%;
    background: #c9a42e;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}


/**
* CEC Members Section
**/

.sub-banner {
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
}

.sub-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.content {
    width: 60%;
    margin-top: 250px;
    margin-left: 100px;
    text-align: left;
    color: #fff;
}

.content h1 {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to right, #c9a42e, #96711b, #c9a42e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h3 {
    font-size: 32px;
    font-weight: bold;
}

.cec-cards {
    justify-content: space-around;
    width: 100%;
}

.cec-card-wrap {
    margin: 2rem auto;
    padding: 0 1rem;
}

.cec-card {
    width: 100%;
    background-image: linear-gradient(to right, #0193c9, #196288, #0193c9);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 0.5rem;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 20px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 40px;
}

.cec-card:before {
    content: attr(data-card);
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 6rem;
    font-weight: 800;
    line-height: 1;
    color: var(--main-color);
    opacity: 0.025;
}

.cec-card:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #2d0b00, #c9a42e);
    transition: 0.3s;
}

.cec .card-content img {
    width: 78%;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    padding: 2px;
    margin-top: 15px;
}

.cec-card-wrap:hover .cec-card {
    transform: translateY(-15px);
}

.cec-card-wrap:hover .cec-card:after {
    height: 8px;
}

.cec-card .title-sm {
    line-height: 0.8;
    color: #c9a42e;
    font-size: 1rem;
}

.cec-card .text {
    font-size: 0.8rem;
    margin: 1rem auto;
    color: #fff;
    text-align: center;
}

.cec-card .btn {
    font-size: 0.7rem;
}

.cec-icon {
    margin-bottom: 1.5rem;
}

@media (max-width:1500px) {
    .cec .card-content img {
        width: 75%;
        height: 220px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        object-fit: cover;
        padding: 2px;
        margin-top: 15px;
    }
}

@media (max-width: 850px) {
    .content h3 {
        font-size: 22px;
    }
    .sub-banner,
    .slider {
        height: 450px !important;
    }
    .slider img {
        height: 100%;
        width: 100%;
    }
    .cec .card-content img {
        width: 70%;
        height: 250px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        object-fit: cover;
        padding: 2px;
        margin-top: 15px;
    }
    .content {
        width: 80% !important;
        margin: 350px 0 0px 70px;
    }
}

@media (max-width:450px) {
    .content h1 {
        font-size: 20px !important;
    }
    .content h3 {
        font-size: 18px !important;
    }
    .sub-banner,
    .slider {
        height: 300px !important;
    }
    .slider img {
        height: 100%;
        width: 100%;
    }
    .content {
        width: 80% !important;
        margin: 150px 0 0px 30px;
    }
}


/**
* ---------------- Start About Page --------------- *
**/

.sub-banner {
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
}

.sub-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
}

.about-us {
    width: 70%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
}

.about-col h1 {
    padding-top: 0;
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #c9a42e, #96711b, #c9a42e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-col h2 {
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    color: #0193c9;
    background-image: linear-gradient(to right, #0193c9, #196288, #0193c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-col h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: bold;
    margin-top: 10px;
    background: linear-gradient(to right, #c9a42e, #96711b, #c9a42e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-col p {
    margin-bottom: 10px;
    padding: 15px 0 7px;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 1.2px;
    justify-content: center;
}

.about-col a {
    font-size: 20px;
    font-weight: 200px;
}

.about-col ul li {
    list-style: lower-alpha;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 5px 0 15px;
    letter-spacing: 1.2px;
    justify-content: center;
}

.about-col img {
    width: 200px;
    border-radius: 10px;
}

.about-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.about-btn:hover {
    border: 2px solid #0193e9;
    background: linear-gradient(to left, #2d0b00, #0193c9);
    transition: 1s;
}

.about-page-btn {
    border: 2px solid #ddd;
    background: linear-gradient(to right, #2d0b00, #0193c9);
    color: #fff;
    border-radius: 15px;
}

.about-page-btn:hover {
    color: #fff;
}

.sub-title {
    background-image: linear-gradient(to right, #0193c9, #196288, #0193c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px !important;
}

.mm-sub-title {
    margin-left: 2rem;
}

@media (max-width: 850px) {
    .sub-banner {
        height: 50vh;
    }
    .content h1 {
        font-size: 30px;
    }
    .content h3 {
        font-size: 24px;
    }
    .about-col h1 {
        font-size: 26px;
    }
    .about-col h2 {
        font-size: 22px;
    }
    .about-col h3 {
        font-size: 20px;
    }
    .about-col p {
        font-size: 16px;
    }
    .about-col ul li {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .content h1 {
        font-size: 24px;
    }
    .content h3 {
        font-size: 20px;
    }
    .about-col h1 {
        font-size: 22px;
    }
    .about-col h2 {
        font-size: 18px;
    }
    .about-col h3 {
        font-size: 16px;
    }
    .about-col p {
        font-size: 13px;
    }
    .about-col ul li {
        font-size: 13px;
    }
}


/**
* ---------------- End About Page --------------- *
**/


/**
* ---------------- Start Contact Page --------------- *
**/

.gmap {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.gmap iframe {
    width: 100%;
}

.cont-us-col {
    margin-bottom: 30px;
}

.cont-us-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.ads-row div .fa {
    font-size: 40px;
    color: #0193c9;
    margin: 10px;
    margin-right: 30px;
}

.cont-us-col div p {
    padding: 0;
}

.cont-us-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.cont-us-col input,
.cont-us-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #000;
}

.cont-us-col form {
    display: block;
    border-bottom: none;
}


/**
* ---------------- End Contact Page --------------- *
**/


/**
* ---------------- Start Hotel Zones Page --------------- *
**/

.famous-section {
    margin: 7rem 2rem;
    padding: 1rem 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #0193c9, #196288, #0193c9);
    border-top-left-radius: 300px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 40px;
}

.famous-section h1 {
    font-size: 40px !important;
    color: #c9a42e !important;
    margin: 2rem auto 1rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.section-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.famous-card-wrap {
    cursor: pointer;
    margin-bottom: 32px;
}

.famous-card {
    position: relative;
    width: 100%;
    /* height: 400px; */
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem 1.5rem;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 20px;
}

.card-content img {
    height: 200px;
}

.famous-card:before {
    content: attr(data-card);
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 6rem;
    font-weight: 800;
    line-height: 1;
    color: var(--main-color);
    opacity: 0.025;
}

.famous-card:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #2d0b00, #c9a42e);
    transition: 0.3s;
}

.famous-card-wrap:hover .famous-card {
    transform: translateY(-15px);
}

.famous-card-wrap:hover .famous-card:after {
    height: 8px;
}

.famous-card .title-sm {
    line-height: 0.8;
    color: #c9a42e;
    font-size: 1.2rem;
}

.famous-card .text {
    font-size: 1rem;
    margin: 1rem 0;
    color: #fff;
    text-align: left;
}

.famous-icon {
    width: 100%;
    height: 250px;
    margin-bottom: 1.7rem;
}

.list-navigation {
    display: flex;
    width: 30%;
    margin: 2rem auto;
    text-align: center;
}

.list-navigation ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}

.list-navigation ul li a {
    color: #333;
    margin: 0 0.8rem;
    cursor: pointer;
    align-items: center;
}

.active-page {
    color: #0193c9 !important;
    font-weight: 550;
}

.list-navigation .uil {
    align-items: center;
    font-size: 2rem;
    color: #333;
}

.active>.page-link {
    background: none !important;
    background: linear-gradient(to right, #0193c9, #196288, #0193c9) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-weight: bold;
    transform: scale(1.2);
}

.page-link {
    border: none !important;
    color: #333 !important;
    font-size: .9rem;
}

.hotel-zone .container {
    width: 94% !important;
}

.card.ygn-hotel-card {
    width: 320px;
    height: 460px;
    margin: 8px auto !important;
    position: relative;
}

.card.ygn-hotel-card img {
    width: 100%;
    height: 150px;
}

.hotel-card {
    width: 280px;
    height: 310px;
    margin: 8px auto !important;
    position: relative;
}

.card-link {
    background: linear-gradient(to right, #0193c9, #196288) !important;
    position: absolute;
    bottom: 15;
    left: auto;
    margin: 0 auto;
}

.card-link:hover {
    background: linear-gradient(to right, #196288, #0193c9) !important;
}

.card-title {
    background: linear-gradient(to right, #c9a42e, #96711b, #c9a42e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: .9rem !important;
    font-weight: bold;
}

.card-subtitle {
    font-size: .8rem !important;
}

.card-text {
    font-size: 0.8rem !important;
}

.card-body .card-text .fa {
    background: linear-gradient(to right, #0193c9, #196288, #0193c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem !important;
}

.card-body p {
    margin-bottom: 0.5rem !important;
}

@media (min-width:1500px) {
    .card-content img {
        height: 320px;
        object-fit: cover;
    }
}

@media (min-width: 1500px) {
    .hotel-card {
        width: 320px;
        height: 310px;
        margin: 8px auto !important;
        position: relative;
    }
}

@media (max-width: 1500px) {
    .card.ygn-hotel-card {
        width: 280px;
        height: 460px;
        margin: 8px auto !important;
        position: relative;
    }
}

@media (max-width: 850px) {
    /* --------zones-------  */
    .famous-card {
        height: auto;
    }
    .famous-section {
        border-top-left-radius: 200px;
        border-bottom-right-radius: 150px;
    }
    .famous-section h1 {
        font-size: 28px !important;
    }
    .card-content img {
        height: 300px;
    }
    .hotel-card {
        width: 100%;
        height: 300px;
        margin: 6px auto !important;
    }
    .card.ygn-hotel-card {
        width: 100%;
        height: 450px;
        margin: 8px auto !important;
        position: relative;
    }
    .card-title {
        font-size: 0.9rem !important;
        margin-bottom: 8px;
    }
    .card-subtitle {
        font-size: 0.8rem !important;
    }
    .card-text {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 450px) {
    .hotel-card {
        width: 100%;
        margin: 10px auto !important;
    }
    .famous.services {
        margin: 20px;
    }
    .famous.services h1 {
        margin: 4rem auto 2rem;
        font-size: 16px !important;
    }
    .famous.services .container {
        width: 100%;
        padding: 0 20px;
    }
    .card-content img {
        width: 90%;
        height: 200px;
        margin-top: 20px;
    }
}


/**
* ---------------- End Hotel Zones Page --------------- *
**/


/* -------- top slider-------------*/


/* -------------Header Style --------------- */

.banner {
    width: 100%;
    height: 75vh;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideImg {
    width: 100%;
    height: 100%;
    animation: zoom 6s linear infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    15% {
        transform: scale(1);
    }
    85% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

.overlay {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    /*background: linear-gradient(to top, transparent, #0193c9 20%,#2d0b00 100%);*/
    /*background: transparent;*/
    opacity: 1;
    position: absolute;
    top: 0;
}

.logo {
    flex-basis: 10%;
}

.content {
    width: 60%;
    margin-top: 250px;
    margin-left: 100px;
    text-align: left;
    color: #fff;
}

.content h1 {
    font-size: 3rem;
    color: #c9a42e;
}

.content h3 {
    width: 100%;
    margin: 20px auto 50px;
    font-size: 30px;
    font-weight: 600;
    line-height: 10px;
}

button {
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin: 0 10px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid #c9a42e;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

button a {
    color: #c9a42e;
}

button:hover {
    /*background: linear-gradient(rgba(10,0,0,0.4),rgba(10,0,0,0.4));*/
    background: linear-gradient(to right, #2d0b00, #c9a42e);
    border: 2px solid #fff;
}

button:hover a {
    color: #fff;
}

@media (max-width: 1500px) {
    .overlay {
        width: 100%;
        height: 30vh;
        background: none;
        /*background: linear-gradient(to top, transparent, #0193c9 20%,#2d0b00 100%);*/
        /*background: transparent;*/
        opacity: 1;
        position: absolute;
        bottom: 20%;
    }
    .logo {
        flex-basis: 10%;
    }
    .content {
        width: 60%;
        margin-top: 25 0px;
        margin-left: 100px;
        text-align: left;
        color: #fff;
    }
    .content h1 {
        font-size: 1.8rem;
        color: #c9a42e;
    }
    .content h3 {
        width: 100%;
        margin: 20px auto 50px;
        font-size: 20px;
        font-weight: 600;
        line-height: 10px;
    }
    button {
        width: 100px;
        padding: 2px 0;
        text-align: center;
        margin: 0 5px;
        border-radius: 15px;
        font-size: 14px;
        font-weight: 600;
        border: 2px solid #c9a42e;
        background: transparent;
        color: #fff;
        cursor: pointer;
        transition: background 0.5s;
    }
}

@media (max-width: 900px) {
    .header {
        height: 400px;
    }
    #slideImg {
        height: 400px;
        object-fit: cover;
    }
    .overlay {
        width: 100%;
        height: 30vh;
        background: none;
        /*background: linear-gradient(to top, transparent, #0193c9 20%,#2d0b00 100%);*/
        /*background: transparent;*/
        opacity: 1;
        position: absolute;
        bottom: 20%;
    }
    .logo {
        flex-basis: 10%;
    }
    .content {
        width: 60%;
        margin-top: 250px;
        margin-left: 100px;
        text-align: left;
        color: #fff;
    }
    .content h1 {
        font-size: 1.5rem;
        color: #c9a42e;
    }
    .content h3 {
        width: 100%;
        margin: 20px auto 50px;
        font-size: 20px;
        font-weight: 600;
        line-height: 10px;
    }
    button {
        width: 100px;
        padding: 2px 0;
        text-align: center;
        margin: 0 5px;
        border-radius: 15px;
        font-size: 14px;
        font-weight: 600;
        border: 2px solid #c9a42e;
        background: transparent;
        color: #fff;
        cursor: pointer;
        transition: background 0.5s;
    }
}

@media (max-width: 490px) {
    .header {
        height: 300px;
    }
    #slideImg {
        height: 300px;
        object-fit: cover;
    }
    .overlay {
        width: 100%;
        height: 30vh;
        background: none;
        /*background: linear-gradient(to top, transparent, #0193c9 20%,#2d0b00 100%);*/
        /*background: transparent;*/
        opacity: 1;
        position: absolute;
        bottom: 40% !important;
    }
    .logo {
        flex-basis: 10%;
    }
    .content {
        width: 60%;
        margin-top: 150px;
        margin-left: 50px;
        text-align: left;
        color: #fff;
    }
    .content h1 {
        font-size: 18px !important;
        color: #c9a42e;
    }
    .content h3 {
        width: 100%;
        margin: 20px auto 50px;
        font-size: 14px !important;
        font-weight: 600;
        line-height: 10px;
    }
    button {
        width: 100px;
        padding: 2px 0;
        text-align: center;
        margin: 0 5px;
        border-radius: 15px;
        font-size: 12px;
        font-weight: 600;
        border: 2px solid #c9a42e;
        background: transparent;
        color: #fff;
        cursor: pointer;
        transition: background 0.5s;
    }
}


/*--------- Annual Movement Style --------*/

.annual-row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.annual-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto))
}

.annual-card {
    padding: 12px 15px;
}

.annual-card img {
    border: 2px solid #c9a42e;
    width: 100%;
}

@media (max-width: 450px) {
    .annual-card img {
        border: 2px solid #c9a42e;
        width: 100% !important;
    }
}